.cart__wrapper {
  max-width: 1000px;
  margin: auto;
  border-radius: 15px;
  /* height: calc(100vh - 120px); */
  margin-top: 40px;
  box-shadow: rgb(0 0 0 / 15%) 0px 2px 8px;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
}

.cart__list {
  min-height: 408px;
  overflow: auto;
  position: relative;
}
