.cartItem--Container {
  background-color: #fff;
  max-width: 1200px;
  margin: 50px auto;
  border-radius: 10px;
}

.cart__header > h2 {
  font-size: 22px;
  /* padding: 20px 15px; */
  font-weight: 700;
  text-transform: uppercase;
  background-color: #fafafa;
  text-transform: uppercase;
}

.image__section > button {
  position: absolute;
  right: 40px;
  transform: translateX(-50%);
}

.image__section {
  width: 100%;
}

.cart__header {
  border-bottom: 1px solid #ddd;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}
